
.conditional-wrapper{
  display: flex;
  flex-direction: row;
 }
 .conditional-wrapper>div{
  margin-right: 20px;
 }

 #download_fields_table_as_csv{
  background-image: url(../icons/csv.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 125px;
  transform: scale(0.4);
  margin-left: -38px;
  margin-top: -15px;
 }

 #edit-conditional-wrapper-actions-submit{
  margin-top: 2rem;
 }
